[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = c:/Program Files/KDiff3/kdiff3.exe
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = c:/Program Files/KDiff3/kdiff3.exe
[core]
	editor = \"C:/Program Files/GitExtensions/GitExtensions.exe\" fileeditor
	autocrlf = true
[user]
	name = vishalv
	email = vishaal.verma77@gmail.com
